<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Proveedor y Pedidos</title>
	<link href="/css/Proveedor.css" rel="stylesheet" type="text/css"   />
	<link rel="icon" href="">
</head>

<body>
	<div class="main-container">
		<div class="container-wrapper">
			<div class="container">
				<br>
				<center>
					<div class="title-box">
						<h1>Proveedor</h1>
					</div>
				</center>
				<div class="form-box">
					<div class="button-box">
						<div id="elegir"></div>
						<center>
							<button type="button" id="btnBuscar" class="toggle-btn active"
								onclick="changeActiveFamilia('btnBuscar')">Buscar</button>
							<button type="button" id="btnCrear" class="toggle-btn"
								onclick="changeActiveFamilia('btnCrear')">Crear</button>
							<button type="button" id="btnActualizar" class="toggle-btn"
								onclick="changeActiveFamilia('btnActualizar')">Actualizar</button>
							<button type="button" id="btnBorrar" class="toggle-btn"
								onclick="changeActiveFamilia('btnBorrar')">Eliminar</button>
						</center>
					</div>
					<form id="Buscar" class="input-group" th:action="@{/proveedor/proveedor_id}" method="post">
						<h4>Selecciona el proveedor</h4><br>
						<select class="input-field" name="id_proveedor" required>
							
							<option th:each="proveedordto : ${lista_proveedor_all}"
								th:value="${proveedordto.id_proveedor}" th:text="${proveedordto.nom_proveedor}">
							</option>
						</select>
						<button type="submit" class="submit-btn">Buscar</button><br><br>
						<textarea class="textarea" disabled th:text="${resultado}"></textarea>
					</form>
					<form id="Crear" class="input-group" th:action="@{/proveedor/ingresar_proveedor}" method="post">
						<h4>Ingresa los datos del proveedor</h4><br>

						<input type="text" class="input-field" placeholder="Nombre completo" name="nombre_proveedor" required>
						<input type="number"  max="9999999999" min="1" class="input-field" placeholder="Ingresa el numero de contacto"
							name="telefono_proveedor" required><br><br>
						<button type="submit" class="submit-btn">Crear</button><br>
						<center>
							<h4 style="color: brown;"></h4> <!--Campo para decir que se creo correctamente-->
						</center>
					</form>
					<form id="Actualizar" class="input-group" th:action="@{/proveedor/actualizar_proveedor}"
						method="post">
						<h4>Selecciona el numero de proveedor para actualizar</h4><br>
						<p>Selecciona el producto</p>
						<select class="input-field" name="id_proveedor_a" required>
							<option th:each="proveedordto : ${lista_proveedor_all}"
								th:value="${proveedordto.id_proveedor}" th:text="${proveedordto.nom_proveedor}">
							</option>
						</select>
						<input type="text" class="input-field" placeholder="Nombre completo" name="nom_proveedor_a" required>
						<input type="number" max="9999999999" class="input-field" placeholder="Ingresa el numero de contacto"
							name="telefono_proveedor_a" required><br><br>
						<button type="submit" class="submit-btn">Actualizar</button>
						<center>
							<h4 style="color: brown;"></h4>
						</center>
					</form>
					<form id="Borrar" class="input-group" th:action="@{/proveedor/eliminar_proveedor}" method="post">
						<h4>Selecciona el proveedor</h4><br>
						<select class="input-field" name="id_proveedor_e" required>
							
							<option th:each="proveedordto : ${lista_proveedor_all}"
								th:value="${proveedordto.id_proveedor}" th:text="${proveedordto.nom_proveedor}">
							</option>
						</select>
						<br><br>
						<button type="submit" class="submit-btn">Eliminar</button>
						<center>
							<h4 style="color: brown;"></h4>
						</center>
					</form>
				</div>
			</div>
			<div class="container2">
				<br>
				<center>
					<div class="title-box">
						<h1>Pedidos</h1>
					</div>
				</center>
				<div class="form-box">
					<div class="button-box2">
						<div id="elegir2"></div>
						<center>
							<button type="button" id="btnBuscar2" class="toggle-btn active"
								onclick="changeActiveGenero('btnBuscar2')">Buscar</button>
							<button type="button" id="btnCrear2" class="toggle-btn"
								onclick="changeActiveGenero('btnCrear2')">Crear</button>


						</center>
					</div>
					<!--  -->
					<form id="Buscar2" class="input-group" th:action="@{/proveedor/pedido_id}" method="post">
						<h4>Selecciona el numero de pedido para buscar</h4><br>
						<select class="input-field2" name="id_pedido" required>
							
							<option th:each="pedidodto : ${lista_pedido_all}" th:value="${pedidodto.id_pedido}"
								th:text="${pedidodto.id_pedido}"></option>
						</select><br>
						<button type="submit" class="submit-btn">Buscar</button><br><br>
						<textarea class="textarea" th:text="${resultado_pedido}" disabled></textarea>
					</form>
					<!-- Crear -->

					<form id="Crear2" class="input-group" th:action="@{/proveedor/ingresar_pedido}" method="post">
						<h4>Ingresa los datos del pedido</h4><br>

						<!-- -->
						<p>Seleccione el numero del producto</p>
						<select class="input-field2" name="id_producto" required>
							
							<option th:each="productodto : ${lista_producto_all}" th:value="${productodto.id_producto}"
								th:text="${productodto.nom_producto}"></option>
						</select>

						<input type="number" class="input-field" placeholder="Costo del pedido" max="2147483646" min="1"
							name="costo" required>
						<input type="number" class="input-field" placeholder="Cantidad del pedido" max="2147483646" min="1"
							name="cantidad" required>
							<p>Selecciona si el pedido es especial o no</p>
						<select class="input-field2" name="pedido_especial" required>

							<option value="true">Sí</option>
							<option value="false">No</option>
						</select>
						<br><br>

						<button type="submit" class="submit-btn">Crear</button><br>
						<center>
							<h4 style="color: brown;"></h4>
						</center>
					</form>
					
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/ProveedorJavaScript.js}"> </script>
</body>

</html>